<nav class="navbar navbar-expand-lg navbar-dark navfoot-color">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="https://imgmovies.blob.core.windows.net/movies-img/logo2.png" alt="MDN"
        style="position: relative;" height="100px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
      <form class="d-flex" method="POST" action="/search/">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Find the movie you need" aria-label="Search"
          name="search">
        <button class="btn btn-search-navbar" type="submit">Search</button>
      </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/" class="nav-link text-white">Home</a>
        </li>
        <li class="nav-item">
          <a href="/recomendacion" class="nav-link text-white">Recommendation</a>
        </li>
        {% if se == "no" %}
        <li class="nav-item">
          <a href="/signin" class="nav-link text-white">Login</a>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link text-white">Register</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="/perfil" class="nav-link text-white">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/logout">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>