
{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="container ">

  <br>

  <div class="container d-flex align-items-center justify-content-center">
    <div class="Posters">
      {% for m in pelis %}
      <div class="">
        
          {% include 'template_pelis.html' %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>


    
    <div class="d-flex align-items-center justify-content-center">
      <br>
      <a class="btn btn-primary" href="/pelis">Ver más</a>
      <br>
    </div>

{% include 'footer.html' %}

{% endblock %}