{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'head.html' %}


  <link rel="stylesheet" href="{% static '/css/app.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <title>Peliculas</title>
</head>

<body>


  {% include '_navbar.html' %}


  <br>


  <div class="container">

    <br>
    <div class="container d-flex align-items-center justify-content-center">
      <div class="Posters "
        style="display: -ms-flexbox;display: flex;-ms-flex-flow: row wrap;flex-flow: row wrap;margin: 0 0rem;background-color: #1c4b77;">
        {% for m in pelis %}
        <div class="">
          {% include 'template_pelis.html' %}
        </div>
        {% endfor %}
      </div>
    </div>


  </div>


  <nav aria-label="Page navigation example ">
    <ul class="pagination justify-content-center test-color">
      {% if pelis.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ pelis.previous_page_number }}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
      </li>
      {% endif %}

      {% if pelis.number|add:'-4' > 1 %}
      <li class="page-item"><a class="page-link" href="?page={{ pelis.number|add:'-5' }}">&hellip;</a></li>
      {% endif %}

      {% for i in pelis.paginator.page_range %}
      {% if pelis.number == i %}
      <li class="page-item active" aria-current="page">
        <span class="page-link">
          {{ i }}
          <span class="sr-only"></span>
        </span>
      </li>
      {% elif i > pelis.number|add:'-5' and i < pelis.number|add:'5' %} <li class="page-item"><a class="page-link"
          href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if pelis.paginator.num_pages > pelis.number|add:'4' %}
        <li class="page-item"><a class="page-link" href="?page={{ pelis.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if pelis.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ pelis.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
        </li>
        {% endif %}
    </ul>
  </nav>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script>

function user_rating(id){
    $.ajax({
        url: "{% url 'ranking_user' %}",
        method: 'GET',
        data : {
            'title':document.getElementById('title-'+id).value,
        'rating': document.getElementById('ra-'+id).value}
    });
    document.getElementById('exit-'+id).click()
}

function estrellas(id) {
    const star = ".star-" + id
    const ra = ".rating-" + id
    const ti = "title-"+id
    const allStars = document.querySelectorAll(star);
    let current_rating = document.querySelector(ra);
    allStars.forEach((star, i) => {
      star.onclick = function () {
        let current_star_level = i + 1;
        current_rating.innerHTML = `${current_star_level} of 5`;
        if(document.getElementById('ra-'+id)){
          document.getElementById('ra-'+id).value = current_star_level
        }

        allStars.forEach((star, j) => {
          if (current_star_level >= j + 1) {
            star.innerHTML = "&#9733";
          } else {
            star.innerHTML = "&#9734";
          }
        });
      };
    });
  };
  
  </script>


</body>

</html>
{% include 'footer.html' %}
{% endblock %}