{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="{% static '/css/app.css' %}">
    <title>Movies</title>

</head>

<body>

    {% include '_navbar.html' %}


    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Register account</h2>

                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="inputName" name="username">Name</label>
                                        <input name="name" type="text" id="inputName"
                                            class="form-control form-control-lg" />

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="inputEmail">E-mail</label>
                                        <input name="email" type="email" id="inputEmail"
                                            class="form-control form-control-lg" />

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="inputPw">Password</label>
                                        <input type="password" id="inputPw" class="form-control form-control-lg"
                                            name="password1" />

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="repeatPw">Repeat your password</label>
                                        <input type="password" id="repeatPw" class="form-control form-control-lg"
                                            name="password2" />

                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-3"
                                            href="/">Register</button>
                                    </div>

                                    <div style="color: red;">
                                        {{error}}
                                    </div>


                                    <p class="text-center text-muted mt-5 mb-0">Do you already have an account? <a
                                            href="/signin/" class="fw-bold text-body"><u>Sing In here</u></a></p>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
{% include 'footer.html' %}
{% endblock %}