.gradient-custom-3 {
/* fallback for old browsers */
background: #84C5FA;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 197, 250, 0.55), rgba(244, 143, 227, 0.5));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 197, 250, 0.55), rgba(244, 143, 227, 0.5));
}
.gradient-custom-4 {
/* fallback for old browsers */
background: #84C5FA;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 197, 250, 0.55), rgba(244, 143, 227, 0.5));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 197, 250, 0.55), rgba(244, 143, 227, 0.5));
}

.btn-success {
    border-color: #84C5FA;
}

.Posters {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 -0.5rem;
}
