@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
body {
  background-color: #96418F;
}

.Posters {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 0rem;
  background-color: #96418F;
}

.Posters-link {
  text-decoration: none;
  background-color: #80397a;
  margin: 0 10px;
  display: inline-block;
  color: white;
  width: 280px;
  padding: 0 0.5rem 1rem;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Posters-link:hover {
  cursor: pointer;
  border: white 1px solid;
}

.listing-content {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 0px;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 40px 0 rgb(52 58 64 / 10%);
  -moz-box-shadow: 10px 10px 40px 0 rgba(52, 58, 64, 0.1);
  box-shadow: 10px 10px 40px 0 rgb(52 58 64 / 10%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 7px;
  background-color: #80397a;
}

.content-p {
  text-decoration: none;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  color: white;
}

.footer {
  background-color: #80397a;
  color: white;
}

.footer button {
  background-color: #80397a;
}

.navfoot-color {
  background-color: #80397a;
}

.modal {
  -webkit--animation: pop-swirl 0.8s ease forwards;
  visibility: visible;
  color: whitesmoke;
}
.btn-close-color {
  background-color: #e81b47;
}

.modal-content {
  background-color: #96418F;
}

.img-settings {
  box-shadow: 0px 1px 5px #fff;
}

.title-date {
  color: #cfcfd3;
}
.title-modal {
  color: white;
  font-weight: bolder;
  font-size: 2em;
}

@keyframes pop-swirl {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.star-rating {
  align-items: center;
  justify-content: center;
  user-select: none;
}

.star {
  font-size: 3rem;
  color: #ff9800;
  background-color: unset;
  border: none;
}

.star:hover {
  cursor: pointer;
}

.tagline {
  font-style: italic;
}
.overview {
  text-align: justify;
}

.title-genres {
  align-self: center;
  color: #cfcfd3;
}

.btn-modal-footer {
  color: #cfcfd3;
  background-color: #e81b47;
  transition: all 0.3s ease-in-out;
}
.btn-modal-footer:hover {
  transform: scale(1.1);
}

.btn-see-more {
  color: white;
  background-color: #e81b47;
  transition: all 0.3s ease-in-out;
}
.btn-see-more:hover {
  transform: scale(1.1);
  background-color: #C92675;
  color: white;
}

.page-item.active .page-link {
  color: #fff !important;
  background: #e81b47 !important;
}

.page-link {
  background-color: #80397a;
  color: white;
}

.animation-img {
  animation: animacion 3s linear infinite;
  border-radius: 20%;
}

@keyframes animacion {
  0% {
    box-shadow: 0 0 0 0 rgba(2, 2, 3, 0.6), 0 0 0 0 rgba(0, 0, 0, 0.6);
  }

  30% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0.6);
  }

  65% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0), 0 0 0 15px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0), 0 0 0 15px rgba(29, 171, 209, 0);
  }
}

.btn-search-navbar {
  color: #fafafd;
  background-color: #e81b47;
}
.btn-search-navbar:hover {
  color: #ffffff;
  background-color: #C92675;
}


#style-2{
  height:200px; 
  overflow-y:auto;
}

#style-2::-webkit-scrollbar-track
{
	-webkit--box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit--box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

.calificacion {
  width: 40px;
  border: none;
  text-align: center;
  background-color: white;
  

}

.bi-rating:hover{
  cursor: pointer;
}

.navfoot-color {
  background-color: #80397a;
}

.navbar-dark {
  background-color: #80397a;
}
